<h1>EDIT CPID_TBL </h1>

<div class="perfect-forms">

<%= form_for(@cpids) do |f| %>

  <div class="form-row">
    <%= f.hidden_field :CMD_ID, :value => @base_cmds.CMD_ID %>
  </div>

  <div class="form-row">
    <%= f.label :CPID %>
    <%= f.text_field :CPID, class: 'form-control' %>
  </div>

  <div class="form-row">
    <%= f.label :CPID_DESC%>
    <%= f.text_field :CPID_DESC, class: 'form-control' %>
  </div>

  <div class="form-row">
    <%= f.label :TM_VAL %>
    <%= f.text_field :TM_VAL, class: 'form-control' %>
  </div>

  <div class="form-row">
    <%= f.label :TM_COUNT %>
    <%= f.text_field :TM_COUNT, class: 'form-control' %>
  </div>

  <div class="form-row">
    <%= f.label :PROC_TYPE%>
    <%= f.collection_select(:PROC_TYPE, LKUP_TBL_TYPE_TBL.all, :LKUP_TBL_TYPE, :LKUP_TBL_TYPE, {:prompt => "Please select"},{class: 'form-control'})%>
  </div>

  <div class="form-row">
    <%= f.submit 'Update', class: "btn btn-primary" %>
  </div>

<% end %>
</div>