
<h1> CPID_TBL </h1>
		<h5>CMD_ID:<%=@cpids.CMD_ID%></h5>
		<h5>CPID:<%=@cpids.CPID%></h5>
		<h5>CPID_DESC:<%=@cpids.CPID_DESC%></h5>
		<h5>TM_VAL:<%=@cpids.TM_VAL%></h5>
		<h5>TM_COUNT:<%=@cpids.TM_COUNT%></h5>
		<h5>PROC_TYPE:<%=@cpids.PROC_TYPE%></h5>

		<%= link_to 'Back', cpid_tbls_path %>
