<h1>EDIT UI_TYPES_TBL </h1>

<div class="perfect-forms">

<%= form_for(@ui_types) do |f| %>

	<div class="form-row">
	  <%= f.label :UI_TYPE_ID %>
	  <%= f.text_field :UI_TYPE_ID, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.label :UI_TYPE %>
	  <%= f.text_field :UI_TYPE, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.submit 'Update', class: "btn btn-primary" %>
	</div>

<% end %>
</div>
