
<h1> BIT_SEL_TBL </h1>

		<h5>BIT_SEL_TBL_NO:<%=@bit_sels.BIT_SEL_TBL_NO%></h5>
		<h5>FIELD_NO:<%=@bit_sels.FIELD_NO%></h5>
		<h5>START_BIT:<%=@bit_sels.START_BIT%></h5>
		<h5>NO_OF_BITS:<%=@bit_sels.NO_OF_BITS%></h5>
		<h5>VALUE:<%=@bit_sels.VALUE%></h5>
		<h5>FIELD_MNEMONICS:<%=@bit_sels.FIELD_MNEMONICS%></h5>
		<h5>VALUE_MNEMONICS:<%=@bit_sels.VALUE_MNEMONICS%></h5>
		<h5>LOGICAL_OP:<%=@bit_sels.LOGICAL_OP%></h5>	

		<%= link_to 'Back', bit_sel_tbls_path %>
