<% breadcrumb :edit_preconf, [@base_cmds,@prereqs] %>
<h1>EDIT PREREQ_CONF_EXPR_TBL </h1>

<div class="perfect-forms">

<%= form_for(@prereqs) do |f| %>

  <div class="form-row">
    <%= f.hidden_field :CMD_ID, :value => @base_cmds.CMD_ID %>
  </div>

  <div class="form-row">
    <%= f.label :ENTRY_TYPE %>
    <%= f.collection_select(:ENTRY_TYPE, ENTRY_TYPE_TBL.all, :ID, :ENTRY_TYPE, {:prompt => "Please select"},{class: 'form-control'})%>
  </div>

  <div class="form-row">
    <%= f.label :FIELD_NO%>
    <%= f.text_field :FIELD_NO, class: 'form-control' %></br>
  </div>

  <div class="form-row">
    <%= f.label :EXPR_ID %>
    <%= f.collection_select(:EXPR_ID, EXPRESSION.all, :EXPR_ID, :EXPR_TYPE, {:prompt => "Please select"})%></br>
  </div>

  <div class="form-row">
    <%= f.label :LOGICAL_OP%>
    <%= f.collection_select(:LOGICAL_OP, LOGICAL_OP_TBL.all, :LOGICAL_OP, :LOGICAL_OP, {:prompt => "Please select"},{class: 'form-control'})%>
  </div>

  <div class="form-row">
    <%= f.submit 'Update', class: "btn btn-primary" %>
    </div>

<% end %>
</div>