
<h1>CREATE CMD_PART_TYPES_TBL </h1>
<%= form_for(@cmd_part_types) do |f| %>

  <%= f.label :CMD_PART_TYPE_ID %>
  <%= f.text_field :CMD_PART_TYPE_ID, class: 'form-control' %>

  <%= f.label :CMD_PART_TYPE %>
  <%= f.text_field :CMD_PART_TYPE, class: 'form-control' %>

  <%= f.submit 'Create', class: "btn btn-primary" %>
<% end %>