<h1>LOG IN!</h1>
<div class="perfect-forms">
	<%= form_for(:session, url: login_path, method: :post) do |f| %>


		<div class="form-row">
			<%= f.label :name %>
			<%= f.text_field :name%>
		</div>

		<div class="form-row">
			<%= f.label :password %>
			<%= f.password_field :password%>
		</div>

		<div class="form-row">
			<%= f.label :default_db_env %>
			<%= f.select :default_db_env, options_for_select(MinorConfig.pluck(:default_db_env), "development"), {}%>
		</div>

		<div class="advanced_options">

			<div class="form-row">
				<%= f.label :database_name %>
				<%= f.text_field :database_name, value: "rubyappdb" %>
			</div>
		
			<div class="form-row">
				<%= f.label :database_username %>
				<%= f.text_field :database_username, value: "Ruby" %>
			</div>

			<div class="form-row">
				<%= f.label :database_password %> 
				<%= f.password_field :database_password, value: "Ruby_123" %>
			</div>

			<div class="form-row">
				<%= f.label :host %>
				<%= f.text_field :host, value: "localhost"%>
			</div>

		</div>

		<div style="text-align: left">New user? <%= link_to "Sign up now!", signup_path %></div>

		<div class="form-row btn-group btn-group-sm">

  			<span id="advanced_button" class="btn btn-warning">Advanced Options</span>
			<%= f.submit "Log In", class: "btn btn-primary" %>

		</div>

	<% end %>

</div>