<h1>EDIT LKUPTBL </h1>

<div class="perfect-forms">

<%= form_for(@lkups) do |f| %>

	<div class="form-row">
	  <%= f.label :LKUP_TBL_NO %>
	  <%= f.collection_select(:LKUP_TBL_NO, LKUP_TBL_INFO.all, :LKUP_TBL_NO, :LKUP_TBL_NAME, {:prompt => "Please select"})%></br>
	</div>

	<div class="form-row">
	  <%= f.label :LKUP_ENTRY_INDEX %>
	  <%= f.text_field :LKUP_ENTRY_INDEX, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.label :BYTE_CODE%>
	  <%= f.text_field :BYTE_CODE, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.label :VALUE%>
	  <%= f.text_field :VALUE, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.submit 'Update', class: "btn btn-primary" %>
	</div>

<% end %>
</div>