
<h1> LKUP_TBL </h1>
		<h5>LKUP_TBL_NO:<%=@lkups.LKUP_TBL_NO%></h5>
		<h5>LKUP_ENTRY_INDEX:<%=@lkups.LKUP_ENTRY_INDEX%></h5>
		<h5>BYTE_CODE:<%=@lkups.BYTE_CODE%></h5>
		<h5>VALUE:<%=@lkups.VALUE%></h5>

		<%= link_to 'Back', lkup_tbls_path %>