<h1>EDIT CMD_TYPES_TBL </h1>

<div class="perfect-forms">

<%= form_for(@cmd_types) do |f| %>

	<div class="form-row">
	  <%= f.label :CMD_TYPE_ID %>
	  <%= f.text_field :CMD_TYPE_ID, class: 'form-control' %>
	</div>  

	<div class="form-row">
	  <%= f.label :CMD_TYPE %>
	  <%= f.text_field :CMD_TYPE, class: 'form-control' %>
	</div>
	
	<div class="form-row">  
	  <%= f.label :CMD_TYPES_TBL_CMD_TYPE%>
	  <%= f.text_field :CMD_TYPES_TBL_CMD_TYPE, class: 'form-control' %>
	</div>
	
	<div class="form-row"> 
	  <%= f.submit 'Update', class: "btn btn-primary" %>
	</div>  

<% end %>
</div>
