<h1>EDIT SUBSYSTEM_TBL </h1>

<div class="perfect-forms">

<%= form_for(@subs) do |f| %>

	<div class="form-row">
	  <%= f.label :SUBSYSTEM_ID %>
	  <%= f.text_field :SUBSYSTEM_ID, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.label :SUBSYSTEM_NAME %>
	  <%= f.text_field :SUBSYSTEM_NAME, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.label :SUBSYSTEM_SHORT_NAME %>
	  <%= f.text_field :SUBSYSTEM_SHORT_NAME, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.submit 'Update', class: "btn btn-primary" %>
	</div>

<% end %>
</div>
