<% breadcrumb :show_cmd_part, [@base_cmds,@cmd_parts] %>
<h1> CMD_PART_TBL </h1>
		<h5>CMD_ID:<%=@cmd_parts.CMD_ID%></h5>
		<h5>CMD_PART_NO:<%=@cmd_parts.CMD_PART_NO%></h5>
		<h5>CMD_PART_MNEMONIC:<%=@cmd_parts.CMD_PART_MNEMONIC%></h5>
		<h5>CMD_PART_TYPE:<%=@cmd_parts.CMD_PART_TYPE%></h5>
		<h5>START_BIT:<%=@cmd_parts.START_BIT%></h5>
		<h5>NO_OF_BITS:<%=@cmd_parts.NO_OF_BITS%></h5>
		<h5>PART_MASK:<%=@cmd_parts.PART_MASK%></h5>
		<h5>RESOLUTION:<%=@cmd_parts.RESOLUTION%></h5>
		<h5>OFFSET:<%=@cmd_parts.OFFSET%></h5>
		<h5>INPUT_FORMAT:<%=@cmd_parts.INPUT_FORMAT%></h5>
		<h5>LL:<%=@cmd_parts.LL%></h5>
		<h5>UL:<%=@cmd_parts.UL%></h5>
		<h5>UNITS:<%=@cmd_parts.UNITS%></h5>
		<h5>REMARKS:<%=@cmd_parts.REMARKS%></h5>

		<%= link_to 'Back', cmd_part_tbls_path %>
