<!-- <p class="nav_arrow"><span class="left_arrow"><i class="left"></i></span><span class="right_arrow"><i class="right"></i></span></p> -->
<p class="nav_arrow"><span class="left_arrow btn btn-xs">&#8678;</span><span class="right_arrow">&#8680;</span></p>
<% if (session[:cmd_id].present? && session[:cmd_id]!=0) %>

  <div class="question_mark"><span class="btn btn-xs btn-warning">&malt;</span>
    <div class="normal">
      <table border='1' class="saved_table">
        <tr>
          <th>CMD_ID</th><td class="scroller"><div><%=@base_cmds.CMD_ID%></div></td>
        </tr>
        <tr>
          <th>DESCRIPTION</th><td class="scroller"><div><%=@base_cmds.DESCRIPTION%></div></td>
        </tr>
        <tr>
          <th>SUBSYSTEM</th><td class="scroller"><div><%=@base_cmds.SUBSYSTEM%></div></td>
        </tr>
        <tr>
          <th>FORMATION_TYPE</th><td class="scroller"><div><%=@base_cmds.FORMATION_TYPE%></div></td>
        </tr>
        <tr>
          <th>CMD_TYPE</th><td class="scroller"><div><%=@base_cmds.CMD_TYPE%></div></td>
        </tr>
        <tr>
          <th>BASE_CMD_CODE</th><td class="scroller"><div><%=@base_cmds.BASE_CMD_CODE%></div></td>
        </tr>
        <tr>
          <th>BASE_CMD_MASK</th><td class="scroller"><div><%=@base_cmds.BASE_CMD_MASK%></div></td>
        </tr>
        <tr>
          <th>CRITICALITY</th><td class="scroller"><div><%=@base_cmds.CRITICALITY%></div></td>
        </tr>
        <tr>
          <th>PULSE_WIDTH</th><td class="scroller"><div><%=@base_cmds.PULSE_WIDTH%></div></td>
        </tr>
        <tr>
          <th>MAP_ID</th><td class="scroller"><div><%=@base_cmds.MAP_ID%></div></td>
        </tr>
        <tr>
          <th>UI_TYPE</th><td class="scroller"><div><%=@base_cmds.UI_TYPE%></div></td>
        </tr>
        <tr>
          <th>PREFERRABLE_DECODER</th><td class="scroller"><div><%=@base_cmds.PREFERRABLE_DECODER%></div></td>
        </tr>
        <tr>
          <th>CONFIRMATION_TYPE</th><td class="scroller"><div><%=@base_cmds.CONFIRMATION_TYPE%></div></td>
        </tr>
        <tr>
          <th>REMARKS</th><td class="scroller"><div><%=@base_cmds.REMARKS%></div></td>
        </tr> 
      </table>
    </div>
  </div>
     
<% end %>