<h1>EDIT EXPRESSION </h1>

<div class="perfect-forms">

<%= form_for(@exprs) do |f| %>

  <div class="form-row">
    <%= f.label :EXPR_ID %>
    <%= f.text_field :EXPR_ID, class: 'form-control' %>
  </div>

  <div class="form-row">
    <%= f.label :EXPR_TYPE %>
    <%= f.collection_select(:EXPR_TYPE, EXPR_TYPE_TBL.all, :ID, :EXPR_TYPE, {:prompt => "Please select"},{class: 'form-control'})%>
  </div>

  <div class="form-row">
    <%= f.label :TM_PID%>
    <%= f.text_field :TM_PID, class: 'form-control' %>
  </div>

  <div class="form-row">
    <%= f.label :REL_OP%>
    <%= f.collection_select(:REL_OP, REL_OP_TBL.all, :REL_OP, :REL_OP, {:prompt => "Please select"},{class: 'form-control'})%>
  </div>

  <div class="form-row">
    <%= f.label :VALUE%>
    <%= f.text_field :VALUE, class: 'form-control' %>
  </div>

  <div class="form-row">
    <%= f.label :VALUE_TYPE%>
    <%= f.collection_select(:VALUE_TYPE, VALUE_TYPE_TBL.all, :VALUE_TYPE, :VALUE_TYPE, {:prompt => "Please select"},{class: 'form-control'})%>
  </div>

  <div class="form-row">
    <%= f.submit 'Update', class: "btn btn-primary" %>
  </div>

<% end %>
</div>