
<h1> EXPRESSION</h1>
		<h5>EXPR_ID:<%=@exprs.EXPR_ID%></h5>
		<h5>EXPR_TYPE:<%=@exprs.EXPR_TYPE%></h5>
		<h5>TM_PID:<%=@exprs.TM_PID%></h5>
		<h5>REL_OP:<%=@exprs.REL_OP%></h5>
		<h5>VALUE:<%=@exprs.VALUE%></h5>
		<h5>VALUE_TYPE:<%=@exprs.VALUE_TYPE%></h5>

		<%= link_to 'Back', expressions_path %>