<div>
	<% if controller_name == 'base_cmd_tbls' && action_name == 'index' %>
    <div class="ForMainSearch">
      <p><strong>Sort By Fields</strong></p>
      <%= form_tag base_cmd_tbls_path, :method => 'get' do %>
        <div id="divSelector">
          <%= select_tag :column, options_for_select(["SUBSYSTEM","UI_TYPE","CMD_TYPE"]), :prompt => "Please select",class: 'form-control column_selector'%>
        </div>
        <div id='subsystem'>
          <%= select_tag :column_entry, options_from_collection_for_select(SUBSYSTEM_TBL.all, :SUBSYSTEM_NAME, :SUBSYSTEM_NAME), :prompt => "Please select",class: 'form-control'%>
        </div>
        <div id='ui_type'>
          <%= select_tag :column_entry, options_from_collection_for_select(UI_TYPES_TBL.all, :UI_TYPE, :UI_TYPE), :prompt => "Please select",class: 'form-control'%>
        </div>
        <div id='cmd_type'>
          <%= select_tag :column_entry, options_from_collection_for_select(CMD_TYPES_TBL.all, :CMD_TYPE, :CMD_TYPE), :prompt => "Please select",class: 'form-control'%>
        </div>
        <%= submit_tag "SORT", :name => "Sort", class: "sortersubmit search_input"%>
      <% end %>
    </div>

      <div class="ForMainSearch">
        <p><strong>Clear Search And Sort</strong></p>
        <%= link_to "CLEAR", base_cmd_tbls_path, class: "btn btn-danger btn-xs" %>
      </div>
     
      <div><hr/></div>
      
      <div class="ForMainSearch">
        <p><strong>Choose Required Fields</strong></p>
        <%= search_form_for @search, url: search_base_cmd_tbls_path, method: :post, class: 'ransack-form' do |f| %>
          <%= hidden_field_tag 'page', '1', {class: 'ransack-page'} %>  <!-- for ransack paginate with post method -->
          <%= hidden_field_tag 'ransack_true', true %> <!-- for ransack paginate with post method -->
          <%= f.condition_fields do |c| %>

            <%= render "condition_fields", f: c %>
          <% end %>
          <p class="add_fields"><%= link_to_add_fields "Add Conditions", f, :condition %></p>
          <%= f.submit "Search", :name => "Base", class: "search_input"%>
        <% end %>
      </div>

      <div><hr size= "20"></div>

      <div id="ForBitSel">
        <p><strong>From Bit-Sel Name</strong></p>
        <%= form_tag base_cmd_tbls_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :BitSelTblName, params[:BitSelTblName], placeholder: "  Bit Sel Name" %>
            <%= submit_tag "Search", :name => "BitSel", class: "search_input" %>
          </p>
        <% end %>
      </div>

      <div><hr/></div>

      <div id="ForLkup">
        <p><strong>From Lkup Name</strong></p>
        <%= form_tag base_cmd_tbls_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :LkupTblName, params[:LkupTblName], placeholder: "  Lkup Name" %>
            <%= submit_tag "Search", :name => "Lkup", class: "search_input"%>
          </p>
        <% end %>
      </div> 



	<% elsif controller_name == 'subsystem_tbls' && action_name == 'index' %>	

      <div class="ForMainSearch">
        <p><strong>Clear Search</strong></p>
        <%= link_to "CLEAR", subsystem_tbls_path, class: "btn btn-danger btn-xs" %>
      </div>
     
      <div><hr/></div>

      <div class="ForMainSearch">
        <p><strong>Choose Required Fields</strong></p>
        <%= search_form_for @search do |f| %>
          <%= f.condition_fields do |c| %>
            <%= render "condition_fields", f: c %>
          <% end %> 
          <p class="add_fields"><%= link_to_add_fields "Add Conditions", f, :condition %></p>
          <%= f.submit "Search", class: "search_input"%>
        <% end %>
      </div>


 <% elsif controller_name == 'ui_types_tbls' && action_name == 'index' %>

      <div class="ForMainSearch">
        <p><strong>Clear Search</strong></p>
        <%= link_to "CLEAR", ui_types_tbls_path, class: "btn btn-danger btn-xs" %>
      </div>
     
      <div><hr/></div>

      <div class="ForMainSearch">
        
        <p><strong>Choose Required Fields</strong></p>
        <%= search_form_for @search, url: search_ui_types_tbls_path, method: :post do |f| %>
          <%= f.condition_fields do |c| %>
            <%= render "condition_fields", f: c %>
          <% end %>
        <p class="add_fields"><%= link_to_add_fields "Add Conditions", f, :condition %></p>
          <%= f.submit "Search", class: "search_input"%>
        
        <% end %>
      
      </div>

 
  <% elsif controller_name == 'cmd_types_tbls' && action_name == 'index' %>

      <div class="ForMainSearch">
        <p><strong>Clear Search And Sort</strong></p>
        <%= link_to "CLEAR", cmd_types_tbls_path, class: "btn btn-danger btn-xs" %>
      </div>
     
      <div><hr/></div>
      
      <div class="ForMainSearch">
        <p><strong>Choose Required Fields</strong></p>
      
      <%= search_form_for @search, url: search_cmd_types_tbls_path, method: :post do |f| %>
        <%= f.condition_fields do |c| %>
          <%= render "condition_fields", f: c %>
        <% end %>
      <p class="add_fields"><%= link_to_add_fields "Add Conditions", f, :condition %></p>
        <%= f.submit "Search", class: "search_input"%>
      
      
      <% end %>
   
    </div>

 
  <% elsif controller_name == 'cmd_part_types_tbls' && action_name == 'index' %>
    
    <div class="ForMainSearch">
        <p><strong>Clear Search And Sort</strong></p>
        <%= link_to "CLEAR", cmd_part_types_tbls_path, class: "btn btn-danger btn-xs" %>
      </div>
     
      <div><hr/></div>
      
      <div class="ForMainSearch">
        <p><strong>Choose Required Fields</strong></p>
      
      <%= search_form_for @search, url: search_cmd_part_types_tbls_path, method: :post do |f| %>
        <%= f.condition_fields do |c| %>
          <%= render "condition_fields", f: c %>
        <% end %>
      <p class="add_fields"><%= link_to_add_fields "Add Conditions", f, :condition %></p>
        <%= f.submit "Search", class: "search_input"%>
      
      <% end %>
    
    </div>  

  <% elsif controller_name == 'lkup_tbl_infos' && action_name == 'index' %>
    
    <div class="ForMainSearch">
        <p><strong>Clear Search And Sort</strong></p>
        <%= link_to "CLEAR", lkup_tbl_infos_path, class: "btn btn-danger btn-xs" %>
      </div>
     
      <div><hr/></div>
      
      <div class="ForMainSearch">
        <p><strong>Choose Required Fields</strong></p>
      
      <%= search_form_for @search, url: search_lkup_tbl_infos_path, method: :post do |f| %>
        <%= f.condition_fields do |c| %>
          <%= render "condition_fields", f: c %>
        <% end %>
      <p class="add_fields"><%= link_to_add_fields "Add Conditions", f, :condition %></p>
        <%= f.submit "Search", class: "search_input"%>
      
      
      <% end %>
    </div>

  <% elsif controller_name == 'bit_sel_tbl_infos' && action_name == 'index' %>
    
    <div class="ForMainSearch">
        <p><strong>Clear Search And Sort</strong></p>
        <%= link_to "CLEAR", bit_sel_tbl_infos_path, class: "btn btn-danger btn-xs" %>
      </div>
     
      <div><hr/></div>
      
      <div class="ForMainSearch">
        <p><strong>Choose Required Fields</strong></p>
      
      <%= search_form_for @search, url: search_bit_sel_tbl_infos_path, method: :post do |f| %>
        <%= f.condition_fields do |c| %>
          <%= render "condition_fields", f: c %>
        <% end %>
      <p class="add_fields"><%= link_to_add_fields "Add Conditions", f, :condition %></p>
        <%= f.submit "Search", class: "search_input"%>
      
      
      <% end %>
    </div>

    <% elsif controller_name == 'confirmer_tbls' && action_name == 'index' %>
    
    <div class="ForMainSearch">
        <p><strong>Clear Search And Sort</strong></p>
        <%= link_to "CLEAR", confirmer_tbls_path, class: "btn btn-danger btn-xs" %>
      </div>
     
      <div><hr/></div>
      
      <div class="ForMainSearch">
        <p><strong>Choose Required Fields</strong></p>
      
      <%= search_form_for @search, url: search_confirmer_tbls_path, method: :post do |f| %>
        <%= f.condition_fields do |c| %>
          <%= render "condition_fields", f: c %>
        <% end %>
      <p class="add_fields"><%= link_to_add_fields "Add Conditions", f, :condition %></p>
        <%= f.submit "Search", class: "search_input"%>
      
      <% end %>
    </div>

  <% elsif controller_name == 'expressions' && action_name == 'index' %>
    
    <div class="ForMainSearch">
        <p><strong>Clear Search And Sort</strong></p>
        <%= link_to "CLEAR", expressions_path, class: "btn btn-danger btn-xs" %>
      </div>
     
      <div><hr/></div>
      
      <div class="ForMainSearch">
        <p><strong>Choose Required Fields</strong></p>
      
      <%= search_form_for @search, url: search_expressions_path, method: :post do |f| %>
        <%= f.condition_fields do |c| %>
          <%= render "condition_fields", f: c %>
        <% end %>
      <p class="add_fields"><%= link_to_add_fields "Add Conditions", f, :condition %></p>
        <%= f.submit "Search", class: "search_input"%>
      <% end %>
    
    </div>
  
  <% end %>


</div>