<h1>EDIT FORMATION_LOGIC_TBL </h1>

<div class="perfect-forms">

<%= form_for(@form_logic) do |f| %>

	<div class="form-row">
	  <%= f.label :FORMATION_LOGIC %>
	  <%= f.text_field :FORMATION_LOGIC, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.label :FORMATION_LOGIC_LEVEL %>
	  <%= f.text_field :FORMATION_LOGIC_LEVEL, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.submit 'Update', class: "btn btn-primary" %>
	</div>

<% end %>
</div>