<h1>EDIT CONFIRMATION_TYPE_TBL </h1>

<div class="perfect-forms">

	<%= form_for(@confs) do |f| %>

	<div class="form-row">
	  <%= f.label :BIT_POSITION %>
	  <%= f.text_field :BIT_POSITION, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.label :CONFIRMATION_TYPE %>
	  <%= f.text_field :CONFIRMATION_TYPE, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.label :BIT_VAL %>
	  <%= f.text_field :BIT_VAL, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.submit 'Update', class: "btn btn-primary" %>

	</div>
	
<% end %>
</div>